.containerHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-wrapper {
  margin: 0 auto;
  max-width: 750px;
}

.carouselImg {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 8px;
}
